---
// ArrowHoverAnimation.astro
import { ArrowUpRight } from "lucide-astro";
---

<div
  class="absolute bottom-7 right-7 p-1 border-2 border-foreground/20 rounded-full flex items-center justify-center transition-all duration-300 ease-in-out card-arrow"
>
  <ArrowUpRight
    class="text-gray-500 arrow-icon duration-300 ease-in-out"
    size={30}
  />
</div>

<script>
  import { animate, type ElementOrSelector } from "motion";

  document.addEventListener("astro:page-load", () => {
    const hoverCards = document.querySelectorAll(".arrow-boxes");

    hoverCards.forEach((hoverCard) => {
      const cardArrow = hoverCard.querySelector(".card-arrow");
      const arrowIcon = cardArrow?.querySelector(".arrow-icon");

      if (cardArrow instanceof HTMLElement && arrowIcon instanceof HTMLElement) {
        hoverCard.addEventListener("mouseenter", () => {
          animate(
            cardArrow as ElementOrSelector,
            { rotate: 45 },
            { duration: 0.3 }
          );
          animate(
            arrowIcon as ElementOrSelector,
            { color: "#000000" },
            { duration: 0.3 }
          );
        });

        hoverCard.addEventListener("mouseleave", () => {
          animate(
            cardArrow as ElementOrSelector,
            { rotate: 0 },
            { duration: 0.3 }
          );
          animate(
            arrowIcon as ElementOrSelector,
            { color: "#6B7280" },
            { duration: 0.3 }
          );
        });
      }
    });
  });
</script>