---
import { Image } from "astro:assets";

const imageFiles = await Astro.glob("../../assets/*");
---

<div class="flex gap-12 h-24 items-center justify-center marquee relative">
  {
    imageFiles.map((img) => (
      <span class="h-24 flex items-center justify-center w-24 rounded-2xl bg-foreground/10">
        <Image
          src={img.default}
          alt="image"
          class="object-contain h-14 w-14 rounded-2xl bg-foreground/10"
        />
      </span>
    ))
  }
  <!-- <span class="h-24 w-24 rounded-2xl bg-foreground/10"></span>
  <span class="h-24 w-24 rounded-2xl bg-foreground/10"></span>
  <span class="h-24 w-24 rounded-2xl bg-foreground/10"></span>
  <span class="h-24 w-24 rounded-2xl bg-foreground/10"></span>
  <span class="h-24 w-24 rounded-2xl bg-foreground/10"></span> -->
</div>

<!-- <figure>
  <figcaption class="sr-ony"></figcaption>
</figure> -->

<style>
  .marquee span {
    position: absolute;
  }
  .marquee {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 12.5%,
      rgb(0, 0, 0) 87.5%,
      rgba(0, 0, 0, 0) 100%
    );
  }
</style>

<script type="module">
  const offset = 10;
  let left = 0;

  const speed = 1;
  const stack = [];

  let pause = false;

  const marqueeElements = document.querySelectorAll(".marquee span");

  marqueeElements.forEach((marqueeElement) => {
    const width = marqueeElement.offsetWidth + offset;
    marqueeElement.style.left = `${left}px`;
    left += width;
    stack.push(marqueeElement);
  });

  function marqueeAnimate() {
    if (!pause) {
      marqueeElements.forEach((marqueeElement) => {
        const currentLeft = parseFloat(getComputedStyle(marqueeElement).left);
        const newLeft = currentLeft - speed;

        marqueeElement.style.left = `${newLeft}px`;

        if (newLeft + marqueeElement.offsetWidth < -130) {
          const firstElement = stack.shift();
          const lastElement = stack[stack.length - 1];
          marqueeElement.style.left = `${parseFloat(getComputedStyle(lastElement).left) + lastElement.offsetWidth + offset}px`;
          stack.push(marqueeElement);
        }
      });
    }
    requestAnimationFrame(marqueeAnimate);
  }
  requestAnimationFrame(marqueeAnimate);

  const marqueeContainer = document.querySelector(".marquee");
  marqueeContainer.addEventListener("mouseenter", () => {
    pause = true;
  });

  marqueeContainer.addEventListener("mouseleave", () => {
    pause = false;
  });
</script>
