---
import {
  Clipboard,
  Copy,
  Dribbble,
  Facebook,
  Instagram,
  Linkedin,
  Mail,
  Twitter,
} from "lucide-astro";
import ArrowHoverAnimation from "../arrowHoverAnimation/ArrowHoverAnimation.astro";
import { Button } from "../ui/button";
---

<div
  class="h-[400px] sm:h-[300px] lg:h-full flex flex-col-reverse lg:flex-col gap-4 overflow-hidden p-0"
>
  <!-- Top Content -->
  <div
    class="grid grid-cols-3 sm:grid-cols-6 lg:grid-cols-3 right-grid-boxes flex-[2_0_0px] *:flex *:items-center *:justify-center overflow-hidden gap-3 *:transition-colors *:duration-300 *:ease-out lg:*:h-full *:rounded-[1.2rem] *:brightness-75 *:w-full lg:flex-[1.1_0_0px] social-media"
  >
    <div class="background-card hover:bg-sky-400">
      <Twitter />
      <div class="noise-effect"></div>
    </div>
    <div class="background-card hover:bg-pink-400">
      <Dribbble />
      <div class="noise-effect"></div>
    </div>
    <div class="background-card hover:bg-violet-500">
      <Instagram />
      <div class="noise-effect"></div>
    </div>
    <div class="background-card hover:bg-blue-400">
      <Linkedin />
      <div class="noise-effect"></div>
    </div>
    <div class="background-card hover:bg-blue-500">
      <Facebook />
      <div class="noise-effect"></div>
    </div>
    <div class="background-card hover:bg-red-500">
      <Mail />
      <div class="noise-effect"></div>
    </div>
  </div>
  <!-- Bottom Content -->
  <div
    class="h-20 w-full *:h-full *:w-full gap-3 *:rounded-[2.1rem] flex flex-[2_0_0px] lg:flex-col lg:flex-[3_0_0px]"
  >
    <div
      class="flex flex-col p-8 gap-8 flex-[1_0_0px] right-grid-boxes background-card"
    >
      <ArrowHoverAnimation />
      <h2 class="text-lg font-light tracking-widest text-gray-500 uppercase">
        Resources
      </h2>
      <p class="text-foreground/60 text-3xl max-w-md">
        Resources to speed your workflow.
      </p>
      <div class="noise-effect"></div>
    </div>
    <div
      class="flex flex-col px-8 gap-5 items-center background-card justify-center flex-[0.8_0_0px] right-grid-boxes background-card"
    >
      <div class="noise-effect"></div>

      <h3 class="text-foreground/60 text-3xl max-w-xl">
        Have a project in mind?
      </h3>
      <Button
        className="rounded-xl text-gray-400 text-xl  z-20 py-8 font-light"
      >
        Copy Email
        <Copy class="ml-4 scale-x-[-1]" />
      </Button>
    </div>
  </div>
</div>
