---
import {
  Clipboard,
  Copy,
  Dribbble,
  Facebook,
  Instagram,
  Linkedin,
  Mail,
  Twitter,
} from "lucide-astro";
import ArrowHoverAnimation from "../arrowHoverAnimation/ArrowHoverAnimation.astro";
import { Button } from "../ui/button";
---

<div
  class="h-[700px] sm:h-[700px] lg:h-full flex flex-col gap-3 overflow-hidden p-0"
>
<!-- Social Icons Card -->
  <div class="background-card rounded-[2.1rem] p-6 right-grid-boxes overflow-hidden">
      <div
      class="grid grid-cols-3 sm:grid-cols-6 lg:grid-cols-3 right-grid-boxes flex-[2_0_0px] *:flex *:items-center *:justify-center overflow-hidden gap-3 *:transition-colors *:duration-300 *:ease-out lg:*:h-full *:rounded-[1.2rem] *:brightness-75 *:w-full lg:flex-[1.1_0_0px] social-media"
    >
      <div class="background-card hover:bg-sky-400">
        <Twitter class="p-2"/>
        <div class="noise-effect"></div>
      </div>
      <div class="background-card hover:bg-pink-400">
        <Dribbble class="p-2"/>
        <div class="noise-effect"></div>
      </div>
      <div class="background-card hover:bg-violet-500">
        <Instagram class="p-2"/>
        <div class="noise-effect"></div>
      </div>
      <div class="background-card hover:bg-blue-400">
        <Linkedin class="p-2"/>
        <div class="noise-effect"></div>
      </div>
      <div class="background-card hover:bg-blue-500">
        <Facebook class="p-2"/>
        <div class="noise-effect"></div>
      </div>
      <div class="background-card hover:bg-red-500">
        <Mail class="p-2"/>
        <div class="noise-effect"></div>
      </div>
    </div>
    <div class="noise-effect"></div>
  </div>

  <!-- Resources Card -->
  <div
    class="flex flex-col p-8 gap-8 flex-1 right-grid-boxes background-card rounded-[2.1rem]"
  >
    <ArrowHoverAnimation />
    <h2 class="text-lg font-light tracking-widest text-gray-500 uppercase">
      Resources
    </h2>
    <p class="text-foreground/60 text-3xl max-w-md">
      Resources to speed your workflow.
    </p>
    <div class="noise-effect"></div>
  </div>

  <!-- Project Card -->
  <div
    class="flex flex-col px-8 py-6 gap-5 items-center background-card justify-center right-grid-boxes rounded-[2.1rem]"
  >
    <div class="noise-effect"></div>
    <h3 class="text-foreground/60 text-3xl max-w-xl">
      Have a project in mind?
    </h3>
    <Button
      className="rounded-xl text-gray-400 text-xl z-20 py-6 w-full sm:w-auto"
    >
      Copy Email
      <Copy class="ml-4 scale-x-[-1]" />
    </Button>
  </div>
</div>