---
import FirstRowContent from "../contents/firstRowContent/FirstRowContent.astro";
import SecondRowContent from "../contents/secondRowContent/SecondRowContent.astro";
import ThirdRowContent from "../contents/thirdRowContent/ThirdRowContent.astro";
---

<div class="grid grid-cols-1 gap-5 lg:h-full overflow-hidden p-0">
  <FirstRowContent />
  <SecondRowContent />
  <ThirdRowContent />
</div>
